*
{
    margin : 0px;
    font-family: 'Raleway', Arial, sans-serif;
}

#bloc-page
{
    box-sizing: border-box;
    width: 100%;
    padding: 0px 40px;
}

/* HEADER */

header
{   
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo
{   
    
    display: flex;
}

/* NAVIGATION */

nav ul
{   
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
}

nav li
{
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    height: 100%;
    width: 100%;
    margin-right: 30px;
    padding: 40px;
    border: solid;
    border-color: white;
   
}

nav a
{
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

.navigation:hover
{
    border-top-color: #0065FC;
}

#inscription a
{
    font-weight: bold;
    color: #0065FC;
    
}

/* SECTION RECHERCHE + FILTRES */

#definition
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/* BARRE DE RECHERCHE */
form
{   
    height: 50px;
    display: flex;
    margin-bottom: 30px;
}

.icon-search
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: solid 1px #F2F2F2;
}

form i
{   
    margin: auto;
}

input
{
    width: 235px;
    border: solid 1px #F2F2F2;
}

button
{
    width: 135px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

/* FILTRES */

#filter
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#filter h1
{
    margin-right: 35px; 
}

.filter-button
{
    display: flex;
    border: solid 1px;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    margin-right: 25px;
}

.filter-button p
{   
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.icon
{
    box-sizing: border-box;
    display: flex;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.icon i
{
    display: block;
    box-sizing: border-box;
    width: 50px;
    margin: auto;
    justify-content: center;
    text-align: center;  
    color: #0065FC;
}



/* INFO */

#info
{
    display: flex;
}

#info-icon
{
    display: flex;
    box-sizing: border-box;
    border: solid 1px #F2F2F2;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    
}

.fa-info
{   
    width: 100%;
    height: 100%;
    color: #0065FC;
    font-size: 8px;
}

/* SECTION ACCOMODATION */

#accomodation
{
    display: flex;
    justify-content: space-between;
}


/* ACCOMODATION FOR */
#accomodation-for
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 65%;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 40px;
    margin-top: 40px;
}

#accomodation-for h1
{
    margin-bottom: 5px;
}

#accomodation h2
{
    margin-top: 25px;
}

#accomodation-list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#accomodation-list figure
{
    box-sizing: border-box;
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 4px;
    margin: 15px 0px;
    border-radius: 15px;
    
}   

#accomodation-list figure img
{
    width: 100%;
    height: 57.5%;
    border-radius: 15px 15px 0px 0px;
}

#accomodation-list figcaption
{
    padding: 15px;
    align-items: center;
}

/* POPULAR ACCOMODATION */

#popular-accomodation
{
    box-sizing: border-box;
    width: 30%;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 40px;
    margin-top: 40px;
    background-color: #F2F2F2;   
}

#popular-accomodation h1
{
    margin-bottom: 20px;
}

#popular-list
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


#popular-list figure
{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: white;
    height: 145px;
    padding: 4px;
    border-radius: 15px;
}

#popular-list figure img
{
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

#popular-list figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-start;
}
