*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

#bloc-page
{
    width: 100%;
    margin: 0;
    padding: 0 40px;
}

.good
{
    color: #0065FC;
}

.bad
{
    color:#F2F2F2;
}

/* HEADER */

header
{   
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: center;
}

/* NAVIGATION */

nav
{   
    height: 100%;
}

nav ul
{   
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0;
    margin: 0;
    
}

nav li
{
    border: solid white;
    height: 100%;
    text-align: center;
    padding: 10px;
   
}

nav a
{
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

.navigation:hover
{
    border-top-color: #0065FC;
}

#inscription a
{
    font-weight: bold;
    color: #0065FC;
    
}

/* SECTION RECHERCHE + FILTRES */

#search-filter
{
    display: flex;
    flex-direction: column;
    margin: 35px 0;
}

#definition
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/* BARRE DE RECHERCHE */
form
{   
    height: 50px;
    display: flex;
    margin-bottom: 30px;
}

.icon-search
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: solid 1px #F2F2F2;
}

form i
{   
    margin: auto;
}

input
{
    width: 235px;
    border: solid 1px #F2F2F2;
}

button
{
    width: 135px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    border: none;
    cursor: pointer;
}

.fas.fa-search
{
    display: none;
}

/* FILTRES */

#filter
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#filter-list
{
    display: flex;
}

#filter h1
{
    margin-right: 35px; 
}

.filter-button
{
    box-sizing: border-box;
    display: flex;
    border: solid 1px #F2F2F2;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    margin-right: 25px;
}

.filter-button:hover
{
    background-color: #0065FC;
    color: white;
}

.filter-button p
{   
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.filter-button .icon
{
    box-sizing: border-box;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    float: right;
    margin-left: -2px;
}

.icon i
{
    display: block;
    box-sizing: border-box;
    width: 50px;
    margin: auto;
    justify-content: center;
    text-align: center;  
    color: #0065FC;
}



/* INFO */

#info
{
    display: flex;
}

#info-icon
{
    display: flex;
    box-sizing: border-box;
    border: solid 1px #F2F2F2;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    
}

.fa-info
{   
    width: 100%;
    height: 100%;
    color: #0065FC;
    font-size: 8px;
}



#accomodation
{
    display: flex;
    width: 100%;
    min-height: 625px;
    justify-content: space-between;
}

#result-accomodation
{
    width: 65.67%;
    background-color: #F2F2F2;
    padding: 0 40px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

#result-accomodation h1, h2
{
    margin: 0;
    display: flex;
    align-items: center;
}

#result-list
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    
}

.result
{   
    background-color: white;
    width: 100%;
    height: 100%;
    max-height: 200px;
    margin: 0px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 6px 6px 15px grey;
    
}

#result-list img
{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

#result-list figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    padding: 5px;
}

#popular-accomodation
{
    width: 31.34%;
    padding: 0 35px;
    background-color: #F2F2F2;
    display: grid;
    grid-template-rows: 15% 85%;
    border-radius: 15px;
    
}

#popular-accomodation h1
{
    margin: 0;
    display: flex;
    align-items: center;
}

#popular-list
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.popular-result
{   
    display: flex;
    background-color: white;
    height: 100%;
    max-height: 145px;
    margin: 0px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 6px 6px 15px grey;
}

#popular-accomodation img
{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

#popular-accomodation figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 5px;
}

#activity
{
    margin-top:65px;
    margin-bottom: 60px;
}

#activity-list
{
    width: 100%;
    height: 445px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
   
}

.activity-result
{
    display: grid;
    grid-template-rows: 1fr 55px;
    width: 22%;
    margin: 0;
}


.activity-result:nth-child(1)
{
    height: 100%;
}

.activity-result:nth-child(2)
{
    height: 55%;
}

.activity-result:nth-child(3)
{
    height: 37%;
}

.activity-result:nth-child(4)
{
    height: 100%;
}

.activity-result:nth-child(5)
{
    height: 45%;
}

.activity-result:nth-child(6)
{
    height: 47%;
}

.activity-result img
{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 6px 6px 6px #F2F2F2;
}

.activity-result figcaption
{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius:0 0 15px 15px;
}

footer
{
    background-color: #F2F2F2;
    width: 100%;
    margin: 0;
    display: flex;
}

footer div
{
    
    margin: 0 175px 0 40px;
    display: flex;
    flex-direction: column;
}

footer h1
{
    margin: 10px 0;
}

footer ul
{
    margin: 0;
    padding: 0;
}

footer li
{
    list-style: none;
    margin: 10px 0;
}
